{# Gracias a http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/ #}
<footer class="footer-distributed">
	<div class="footer-right">
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-linkedin"></i></a>
		<a href="#"><i class="fa fa-github"></i></a>

	</div>
	<div class="footer-left">
		<p class="footer-links">
			<a href="{% url 'index' %}">Inicio</a>
			·
			<a href="{% url 'turismo' %}">Turismo</a>
			·
			<a href="{% url 'gastronomia' %}">Gastronomia</a>
			·
			<a href="{% url 'contacto' %}">Contacto</a>
		</p>
		<p>Daniel Soriano &copy; 2017</p>
	</div>
</footer>