img{
	width: 300px;
	height: 300px;
}

.descripcion{ 
	height:50px;
	width:300px;
	text-overflow:ellipsis;
	white-space:nowrap; 
	overflow:hidden; 
}

.row:nth-child(even) img{ 
	float:right;
	vertical-align:middle;
}
.row:nth-child(even)  div[id*="info"]{
	text-align:center;
}
.row:nth-child(odd) img{ 
	float:left;
	vertical-align:middle;
}
.row:nth-child(odd)  div[id*="info"]{
	text-align:center;

}

.contenido {
	background-color:white;
	-webkit-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.82);
-moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.82);
box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.82);
}

body {

	margin-top:51px;
}


.pagination{
	margin-left:40%;
	margin-right:auto;
}

.info{
	width:300px;
	height:400px;
	display:inline-block;
	text-align:center;
	float:left;
	margin-left: 7%;
}

#id_select{
	width:100px;
	margin:auto;
}

.container{  
	background: rgba(0,0,0,0.4);    
	color: #fff;
}

body{
    background-image: url('../images/gastroFondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	background-position:center;

}