img{
	width:500px;
	height:500px;
}
img{
	width:500px;
	height:500px;
	margin:0 auto;
}


body{
	margin-top:51px;
	padding-top:1em;
}

#contacto{
	width:400px;
	border:0;
	text-align:left;
	margin:0 auto;
}

#id_titulo{
	width:50%;
	margin:0 auto;
}

#id_comentario{
	width:70%;
	height:150px;
	margin:0 auto;
}

#listaComentarios{
	max-height: 300px;
    overflow-y:scroll;	
}