{% extends 'web/base.html' %}
{% load staticfiles %}

{%block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/estilosAdmin.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.dynatable.css' %}">
{% endblock stylesheet%}

{% block script %}
	<script src="{% static 'js/jquery.dynatable.js' %}"></script>
{% endblock script %}

{% block content %}
{% include "web/includes/menu.html" %}	
<div class="container-fluid">
	<div class="row">
        <div class="col-12 col-sm-3 col-md-2">		
            <div class="sidebar-nav-fixed">			
                <div class="well">				
                    <ul class="nav ">					
                        <li class="nav-header" style="text-align:center;"><h3>InvenitMadrid</h3></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin. Locales<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#" id="nuevoLocal">Nuevo Local</a></li>
								<li><a href="#" id="listaLocales">Editar Local</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin. Turismo<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#" id="nuevoTurismo">Nuevo Sitio Turístico</a></li>
								<li><a href="#" id="listaTurismo">Editar Sitio Turístico</a></li>
							</ul>
						</li>                    
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-9 col-md-9">
            <div class="jumbotron" style="text-align:center;">
				<div class="header">
					<img src="{% static 'images/adminPanel.jpg' %}" class="img-responsive">
				</div>
				<div id="gestiones"></div>
				{% if mensaje %}
					<p>{{ mensaje }}</p>
				{% endif %}
            </div>          
        </div>
    </div>
</div>
{% block scriptBody %}
	<script>
		$("#nuevoTurismo").click(function(e){
			e.preventDefault();
			e.stopImmediatePropagation();
			$("#gestiones").html("");
			$.ajax({
				type: 'GET',
				url: "{% url 'nuevo_turismo'%}",
				success: function (response){
					$("#gestiones").html(response);
				}
			});
		});
		$("#nuevoLocal").click(function(e){
			e.preventDefault();
			e.stopImmediatePropagation();
			$("#gestiones").html("");
			$.ajax({
				type: 'GET',
				url: "{% url 'nuevo_local'%}",
				success: function (response){
					$("#gestiones").html(response);
				}
			});
		});
		$("#listaLocales").click(function(e){
			e.preventDefault();
			e.stopImmediatePropagation();
			$("#gestiones").html("");
			$.ajax({
				type: 'GET',
				url: "{% url 'lista_locales'%}",
				success: function (response){
					$("#gestiones").html(response);
					$('#listaTabla').dynatable();
				}
			});

		});
		$("#listaTurismo").click(function(e){
			e.preventDefault();
			e.stopImmediatePropagation();
			$("#gestiones").html("");
			$.ajax({
				type: 'GET',
				url: "{% url 'lista_turismo'%}",
				success: function (response){
					$("#gestiones").html(response);
					$('#listaTabla').dynatable();
				}
			});

		});
	</script>
{% endblock scriptBody %}	
{% endblock content %}
