{% extends 'web/base.html' %}
{% load staticfiles %}
{%block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/estilosLocal.css' %}">
{% endblock stylesheet%}

{% block script %}
	<script type="text/javascript" src="{% static 'js/funcionesContenido.js' %}"></script>
{% endblock script %}

{% block content %}

<div class="container contenido">
{% include "web/includes/menu.html" %}
<datalist id="filtro">
	{% for nombre in nombres %}
		<option value="{{ nombre.nombreLocal }}">
	{% endfor %}
</datalist>	
	<div class="row">
		<div class="col-md-12" style="text-align:center;">
			<form id="filtrarLocal" method="POST" action="{% url 'gastronomia' %}">
			{% csrf_token %}
				<div class="form-group">
					<label for="opciones">Filtrar por :</label>
						{{ form.select }}
				</div>
				{% if filtro %}
					<h3>Filtrando por : {{filtro}}</h3>
				{% endif %}
				<input type="submit" name="Borrar" value="Eliminar Filtro" class="btn btn-primary">
			</form>
		</div>
	</div>
	<div class="row  cajasContenido">
	{% for sitio in locales %}
	<div class="col-md-4 content" style="text-align:center;">		
		<div class="info">
			<img class="thumbnail" src="{% static sitio.imagen %}"/>
			<h3><a href="{% url 'detalleLocal' nombreLocal=sitio.nombreLocal %}">{{ sitio.nombreLocal }}</a></h3>
			<div class="descripcion">{{ sitio.descripcion|escape|safe }}</div>
		</div>
	</div>	
	{% endfor %}
	</div>
<footer>	
<div class="row">
	<div class="pagination">
		<span class="step-links">
			{% if locales.has_previous %}
				<a href="?page={{ locales.previous_page_number }}">Anterior</a>
			{% endif %}

			<span class="current">
				Página {{ locales.number }} de {{ locales.paginator.num_pages }}
			</span>
			{% if locales.has_next %}
				<a href="?page={{ locales.next_page_number }}">Siguiente</a>
			{% endif %}
		</span>
	</div>	
</div>
</footer>
</div>
{% include "web/includes/footer.html" %}	
{% endblock content %}