{% extends 'web/base.html' %}
{% load staticfiles %}
{%block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/estilosIndex.css' %}">
{% endblock stylesheet%}
{% block content %}
<div class="img1">
  <div class="caption">
    <h3 id="cabecera" style="text-align:center;">InvenitMadrid</h3>
  </div>
</div>

<div style="color: black;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">Madrid</h3>
  <p>Visita la hermosa ciudad de Madrid, capital de España, déjate llevar por sus calles y descubrirás los más hermosos lugares que puedas imaginar.</p>
</div>

<div class="img2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Visita turística</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:black;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Descubre las mejores vistas y lugares que te dejarán con la boca abierta</p>
  </div>
</div>

<div class="img3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Gastronomía</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:black;text-align:center;padding:50px 80px;text-align: justify;">
    <p>¿Tienes hambre? Te presentamos los mejores lugares para degustar la gastronomía española</p>
  </div>
</div>

<div class="img4">
  <div class="caption">
    <h3 id="cabecera" style="text-align:center;">¡Disfruta de la visita!</h3>
  </div>
</div>
{% endblock content %}