{% extends 'web/base.html' %}
{% load staticfiles %}
{%block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/estilosLogin.css' %}">
{% endblock stylesheet%}

{% block content %}
<div class="container">
<div class="jumbotron">
	<div class="row">
		<div class="col-md-3 col-lg-2"></div>
		<div class="col-md-6 col-lg-8">
				<div id="presentacion">
					<h1>Bienvenido a InvenitMadrid</h1><br><br>
					<p>
						InvenitMadrid es el lugar indicado para todos aquellos que quieran descubrir la gastronomía y turismo
						que ofrece Madrid.
					</p>
					<p>
						Regístrate en la web y tendrás acceso a sitios turísticos de interés, bares,locales y restaurantes que cuentan
						además con las valoraciones y reseñas de la gente que los ha visitado.			
					</p>
					<p>
						No importa si estás de visita o si vives en la ciudad, descubre Madrid como nunca antes lo habías hecho. <br>
						<h3>Adéntrate</h3>
					</p>
				</div>
		</div>
		<div class="col-md-3 col-lg-2"></div>
	</div>
	<div class="row">
		<div class="col-md-3 col-lg-2"></div>
		<div class="col-md-3 col-lg-4">
			<div id="cuadroRegistro">
				<label for="anonimo">¿No tienes cuenta?</label><br>
				<div id="registro">
						<a href="{% url 'alta' %}">Regístrate</a>						
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-4">
			<div id="cuadroLogin">
				{% if form.errors %}
					<p>Usuario y contraseña no coinciden</p>
				{% endif %}
				<form method="post" action="{% url 'login' %}">
				{% csrf_token %}
					<div class="form-group">
						{{ form.username.label_tag }}
						{{ form.username }}
					</div>
					<div class="form-group">
						<label for="contrasena">Contraseña</label>
						{{ form.password }}
					</div>
					<input type="hidden" name="next" value="{{ next }}">
					<button type="submit" class="btn btn-default">Acceder</button>
				</form>
			</div>
		</div>
		<div class="col-md-3 col-lg-2"></div>
	</div>	
		
</div>
</div>
{% endblock content %}