{% extends 'web/base.html' %}
{% block content %}
    <h1></h1>
	<div class="container-fluid fill">
			<div id="panel">
				<div id="anon">
					<span>
						<label for="anonimo">¿No tienes cuenta?</label><br>
						<div id="registro">
							<div class="bs-example">
								<a href="{% url 'alta' %}">Regístrate</a>						
							</div>
					</div>
					</span>
				</div>
				<div id="log">
					{% if form.errors %}
						<p>Usuario y contraseña no coinciden</p>
					{% endif %}
					<form method="post" action="{% url 'login' %}">
					{% csrf_token %}
						<div class="form-group">
							<label for="usuario">Usuario</label>
							{{ form.username.label_tag }}
							{{ form.username }}	<br>
							<span class="error"></span>
						</div>
						<div class="form-group">
							<label for="contrasena">Contraseña</label>
							{{ form.password }}
							<span class="error"></span>
						</div>
						 <input type="hidden" name="next" value="{{ next }}">
						<button type="submit" class="btn btn-default">Acceder</button>
					</form>
				</div>
			</div>
	</div>
{% endblock content %}