{% extends 'web/base.html' %}
{% load staticfiles %}
{%block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/estilosTurismo.css' %}">
{% endblock stylesheet%}

{% block content %}
	
<div class="container contenido">
{% include "web/includes/menu.html" %}	

	{% for sitio in turismo %}
	<div class="col-md-4 content">
		{% if forloop.counter|divisibleby:2 %}			
			<div class="info">
				<img class="thumbnail" src="{% static sitio.imagen %}"/>
				<h3>{{ sitio.nombreSitio }}</h3>
				<div class="descripcion">{{ sitio.descripcion }}</div>
			</div>

		{% else %}
			<div class="info">
				<img class="thumbnail" src="{% static sitio.imagen %}"/>
				<h3>{{ sitio.nombreSitio }}</h3>		
				<div class="descripcion">{{ sitio.descripcion }}</div>	
			</div>
		{% endif %}
	</div>	
	{% endfor %}
<div class="row">
	<div class="pagination">
		<span class="step-links">
			{% if turismo.has_previous %}
				<a href="?page={{ turismo.previous_page_number }}">Anterior</a>
			{% endif %}

			<span class="current">
				Página {{ turismo.number }} de {{ turismo.paginator.num_pages }}
			</span>
			{% if turismo.has_next %}
				<a href="?page={{ turismo.next_page_number }}">Siguiente</a>
			{% endif %}
		</span>
	</div>	
</div>
</div>
{% endblock content %}